html
    head
        title Simple template
    body
        include ./header.pug
        h3 I'm the main content
        img(src = "/pip.jpeg", alt = "testing image")
        img(src = "/static/pip.jpeg", alt = "testing image")
        include ./footer.pug