doctype html
html
    head
        title Hello Pug
    body
        p.greetings#people hello world
        //note : . is class and # is id
        h1 Welcome to mobile legend
        div
            |to insert multiline text,
            |you can use the pipe operator
        div.
            But that gets tedious if you a lot of text.
            You can use "." at the end of tag to denote block of text.
            To put tags inside this block, simply enter tag in a new line and
            indent it accordingly
        div.container.column.main#division(width="100", height="100", style="background-color:blue; color:white") biru